.input {
    font-family: 'Plus Jakarta Sans', sans-serif;
    border: 1px solid $light-dray;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: $dark-dray;
    padding: 10px 14px;
    width: 100%;
    border-radius: $border-radius;

    &__error {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: 400;
        font-size: 10px;
        position: absolute;
        color: red;
    }
}
